.box {
    height: 121px;
    width: 121px;
    background-color: red;
    border-radius: 70px;
    position: absolute;
    bottom: 0;
    left: 0; 
    animation: BounceX 3s linear infinite alternate, 
    BounceY 1s ease-out infinite  alternate;
}

.container {
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: blue;
}
@keyframes BounceX {
    from{
        
        left: 0;
    }
    to{
       
        left: 100%;
    }
}
@keyframes BounceY {
    from{
        bottom: 0;
    }
    to{
        bottom: 80%;
    }
}